.button_red{
    letter-spacing: 1px;
    margin-top: 120px;
    margin-left: 930px;
    color: #fff;
    font-size: 13px;
    padding: 1rem 1.9rem ;
    border-radius: 0.4rem;
    margin-right: 5px;
    font-weight:600 ;
    background-color: red;
    width: 230px ;
    height: 50px;
}
   
.button_delete{
    font-size: 13px;
    padding: 1rem 1.9rem ;
    border-radius: 0.4rem;
    margin-right: 5px;
    font-weight:600 ;
    background-color: red;
    color: #fff;
    width: 230px ;
    height: 50px;
}


.button_delete:disabled {
    background-color: #ddd; 
    color: #aaa;
    cursor: not-allowed; 
}